<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Digest cycle</title>
    </head>
    <body>
        <div ng-controller="DefaultCtrl">
            <div>Number: {{number}}</div>
            <div>
                <button ng-click="add()">+</button>
                <button ng-click="subtract()">-</button>
            </div>
            <div>
                <button ng-click="tryToAddWithDelay()">+ (with delay won't affect view)</button>
                <button ng-click="tryToSubtractWithDelay()">- (with delay won't affect view)</button>
            </div>
            <div>
                <button ng-click="addWithDelay()">+ (with delay)</button>
                <button ng-click="subtractWithDelay()">- (with delay)</button>
            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="controller.js"></script>
    </body>
</html>